:root {
--primary-text-colour: #434455;
--title-text-colour: #2E2F42;
--accent-colour: #4D5AE5;
--hoover-color: #404BBF;

}

body{
    background-color: #fff;
    color: var(--primary-text-colour);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.list{
    list-style: none;
}
/* main color of text #2E2F42  */
/* secondary colour of text #434455 */
/* white */
/* emphisis #4D5AE5 */
/* secondary color of background #F4F4FD */
/* logo */
.logo{
    color: var(--title-text-colour);
    font-family: Raleway, cursive;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;

}
.logo-web{
    color: var(--accent-colour)
}
/* site-nav */

 .nav-link {
    color: var(--title-text-colour);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-decoration: none;
 }
 .nav-link:hover,
 .nav-link:focus {
    color: var(--hoover-color);
 }
 .address-link {
    color: var(--primary-text-colour);
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
 }

 .address-link:hover,
 .address-link:active {
    color: var(--hoover-color);
 }
 /* section */
 .section-title{
    color: var(--title-text-colour);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
/* identical to box height, or 111% */

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
 }

 /* button */
 .button-service{
    background-color: var(--accent-colour);
    color: #fff;
    border-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
 }
.button-service:hover,
.button-service:focus{
background-color: var(--hoover-color);
}
 /* hero section */
 .hero{
    background-color: var(--title-text-colour);
 }
 .hero-headline{
    color: white;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    text-align: center;
 }

 

 /* features section */
 
.features-items-headline{
    color: var(--title-text-colour);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.features-items-text{
    color: var(--primary-text-colour);
}

/* What are we doing section */


/* out team */

.team-items-headline{
    color: var(--title-text-colour);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.team-list-text{
    columns: var(--primary-text-colour);
}

/* footer */
.footer-logo{
    color: #F4F4FD;
    font-family: Raleway, cursive;
    text-transform: uppercase;
    text-decoration: none;
}
.footer{
    background-color: #2E2F42;
}
.footer-text{
    color: #F4F4FD;
}








/**
  |============================
  | Portfolio
  |============================
*/

.portfolio-buttons{
    background-color: #E7E9FC;
    color: #4D5AE5;
    border-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer

}

.portfolio-buttons:hover{
    background-color: var(--hoover-color);
    color: white;
}



.portfolio-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.portfolio-text{
}